@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


.sidebar{
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 102vh;
    grid-gap: 30px;
   
}
.sidebar1{
    background-color: rgb(165, 172, 172);
    position: relative;
    left: 10px;
    border-radius: 50px;
  margin: 12px 10px;
  /* position: static; */
}
.sidebar2{
    background-color: rgb(130, 197, 238);
    position: relative;
    height: 130vh;
    right: 5px;
    border-radius: 50px;
  margin: 30px 0px;
}
.profileimg{
    width: 130px;
    height: 130px;
    padding: 33px 30px;
    border-radius: 50px;
}
.nameperson{
        position: relative;
        right: 10px;
}
.name-rankdisplay{
    position: relative;
    left: 180px;
    bottom: 110px;
}
.rankdisplay{
    display: flex;
position: relative;
top: 30px;
}
.rank{
    position: relative;
    right: 10px;
}
#editbutton{
    width: 130px;
    height: 30px;
    position: relative;
    left: 80px;
    bottom: 30px;
    background-color: rgb(68, 223, 68);
    border: none;
  box-shadow: inset;
    
}
.fillbutton{
    
    width: 130px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 5px;
    background-color: rgb(83, 146, 198);
    border: none;
  box-shadow: inset;


}



.hr{
    width: 300px;
    height: 1px;
    background-color: aliceblue;
    margin-left: 2px;
}
.dashboard,.message,.bookinghistory,.analytics{
    font-size: 20px;
  padding: 32px 20px;
}

.dashboard span,.message span,.bookinghistory span,.analytics span{
    position: relative;
    left: 20px;
}
.labelnamea{
    position: relative;
    left: 205px;
}
#age{
    /* position: relative;
    left:0px; */

}
.logout{
    font-size: 15px;
    padding: 2px 2px;
    padding-right: 20px;
    position: relative;
    top: 43px;
    width: 110px;
    height: 30px;
    position: relative;
    left: 20px;
    
}
.logout span{
    position: relative;
    left: 20px;

}
.friendslist{
    font-size: 20px;
    padding: 20px 20px;
    position: relative;
    top: 20px;

}

.friendsrequest{
    font-size: 20px;
    padding: 20px 20px;
    position: relative;
    top: 20px;

}
.friendslist span,.friendsrequest span{
    position: relative;
    left: 20px;

}

.bxs-plus-circle{
    position: relative;
    right:48px;
    bottom: 35px;
cursor: pointer;
}

#input-file{
    display: none;
}


.container2{
    display: none;
}







/* sidebar2 */


.container2 {

    position: relative;
    right: 120px;
    top: 43px;
    /* bottom: 70px; */
    height: 700px;
    overflow-y: scroll;


}




.container2::-webkit-scrollbar {
    width: 1em;

  }
   
  .container2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .container2::-webkit-scrollbar-thumb {
    /* background-color: rgb(255, 255, 255); */
    outline: 1px solid slategrey;
  }
  
form input {
    width: 320px;
    height: 27px;
    border: 1px solid black;
    padding-left: 7px;
    outline: none;
    border-radius: 0px;

}



.forms h1,form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

}

.forms {
    position: relative;
  top: 5px;
    border: 2px solid rgb(180, 176, 176);
    width: 450px;
    left: 35%;
    border-radius: 2%;
    box-shadow: 0 10px 10px rgba(215, 211, 211, 0.230);
    height: 990px;


}

#name1 {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;

}

#age {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;

}
#userEmail{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(187, 192, 192);
}
#phoneno1{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
#password{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}


.labelname ,.labelnamel,.labelnametime,.labelnamea,.labelnames{
    /* font-size: 10px; */
    font-weight: 500;
    position: relative;
 
}
#sportss {
    width: 50%;
    height: 35px;
    position: relative;
    bottom: 20px;

    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
#sportsvalue{
    width: 120px;
    height: 30px;

}
.timings {
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;

}
#locationselect{
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;

}
#timingsfrom,#timingsto{
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;



}
/* button */

.profile2 {
    font-size: medium;
    padding: 9px 38px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
    position: relative;
    background-color: rgba(12, 175, 23, 0.783);
    margin-left: 10px;
    /* left: 163px; */
    box-shadow: 0 3px 10px rgb(3, 10, 87);

}
#checkjoinplayer1{
    font-size: 10px;
    position: relative;
    left: 143px;
    top: 35px;
}
.joinplayer label{
position: relative;
left: 150px;
top: 37px;
font-size: 20px;


}
.timep{
    position: relative;
}


/* fill */
.formcontainer{
   
    position: relative;
    bottom: 460px;
    display: none;
    width: 990px;
    height:830px;
    top: 50%;
    left: 62%;
    transform: translate(-50%,-50%);
    padding: 0px 43px;
    border-radius: 5%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.closebtn{
    position: relative;
    left: 960px;
    top: 20px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}


/* textarea{
   resize: none; 
}
.formcontainer{
    position: relative;
    padding-left: 470px;
    top: 70px;
    font-size: 23px;
}
#groname{
    width: 390px;
    height: 30px;
}
.labelname{
    position: relative;
    right: 90px;
} */
textarea{
   resize: none; 
}

.box1{
    /* display: flex; */
    position: relative;
    right: 250px;
top: 70px;
   
  
  
}
#grolname{
    position: relative;
    /* right: 250px; */
top: 50px;
   

}
#groname{
    position: relative;
    bottom: 10px;
}
.labelgroname{
    position: relative;
    bottom: 10px;

}

.labelnamep{
    position: relative;
    /* right: 250px; */
top: 50px;

}
#grolink{
    position: relative;
    /* right: 250px; */
top: 60px;
   

}
.labelnamell{
    position: relative;
    /* right: 250px; */
top: 60px;

}
.groundlocationbox{
    /* display: flex; */
    position: relative;
    left: 250px;
  


}
.groundimageupload{
    position: relative;
    right: 290px;
    top: 70px;
  


}
.sportsavailable{
    position: relative;
    right: 290px;
    top: 130px;
  

}
#sportsavail1,#sportsavail2,#sportsavail3{
    position: relative;
    right: 120px;
    top: 50px;
  

}
.sname{
    position: relative;
    right: 245px;
    top: 42px;
}
.labelnames{
    position: relative;
    left: 20px;
    top: 25px;
}
.groundtiming{
    position: relative;
    left: 370px;
    width: 270px;
    top: 50px;
    text-align: center;
    /* bottom: 130px; */
  
  

}
.groundrules{
    position: relative;
    left: 20px;
    bottom: 67px;

  

}
.groundprice{
    position: relative;
    left: 50px;
  


}
#amount{
    width: 200px;
    position: relative;
    
}
.values{
    text-align: center;
    position: relative;
    left: 320px;
    top: 120px;
  

}
#submitbtn{
    position: relative;
    bottom: 50px;
    width: 200px;
    height: 50px;
    background-color: rgb(88, 253, 88);
    outline: none;

}
#submitbtn:hover{
    background-color: greenyellow;
}



/* #amount{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

#amount::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

#increaseamount::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }

#sportscourts{
    position: relative;
    right:390px;
    width: 80px;
    bottom: 30px;
}
.court{
    position: relative;
    right:390px;
    bottom: 30px;
}
#increaseamount{
    width: 90px;
    position: relative;
    bottom: 70px;
    right: 300px;
}
.increaseamountword{
    position: relative;
    bottom: 70px;
    right: 300px;

}