@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}

body {
  
}

header {
    background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);

    height: 14vh;
    background-position: center;
    background-size: cover;


}

ul {
    display: flex;
    justify-content: end;
    margin-right: 20%;
    position: relative;
    top: 38px;
    left: 70px;

}

ul li {
    list-style-type: none;
    padding: 2%;

}

ul li a {
    text-decoration: none;
    font-size: larger;
    color: white;
    font-family: 'Noto Serif Khojki', serif;

}

ul li a:hover {
    color: rgb(130, 217, 235);

}

.login {
    font-size: medium;
    padding: 5px 15px;
    height: 113%;
    width: 102%;
    background-color: rgb(5, 34, 120);
    color: white;
    position: relative;
    bottom: 95px;
    font-weight: bold;
    cursor: pointer;
    border: none;


}

.logo {
    width: 14%;
    position: relative;
    bottom: 50px;
    left: 46px;
}

#main1 {
    height: 5vh;
    /* border:20px solid transparent;
    border-image: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(0,212,255,1) 100%)60;
    
    */

}

.cont1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    position: relative;
    bottom: 110px;
    color: white;
}














.main {
    height: 87vh;



}

.bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 92vh;
    grid-column-gap: 20px;
}

.sidebar1 {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 10px 10px;
  
    height: 80vh;

}

.sidebar2 {
    background-color:white;
    color: white;
    margin: 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-info{
    color: black;
    font-size: large;

}
.contact{
    position: relative;
    left: 50px;
    top: 70px;
}









.container {
    background-color: rgba(15, 67, 209, 0.82);
    width: 390px;
    height: 50vh;
    display: flex;
    flex-direction: column;

    margin-bottom: 20%;
    border-radius: px;
    border: 1px solid black;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
}

.top {
    color: rgb(0, 0, 0);
    padding: 2%;
}

.main {
    flex: 1;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 20px 10px;

}
.assistant{
    width: 90px;
    position: relative;
    left: 136px;
}

.messageto {
    background-color: rgb(209, 215, 219);
    color: black;
    width: 60%;
    padding: 7px 15px;
    margin-left: 63px;
    border-radius: 35%;
    box-shadow: 0 3px 10px rgba(240, 238, 238, 0.626);
}

.messagefrom {
    background-color: rgb(126, 126, 126);
    color: rgb(255, 255, 255);
    width: 10%;
    padding: 7px 15px;
    margin-left: 78%;
    margin-top: 10px;
    border-radius: 35%;
    box-shadow: 0 3px 10px rgba(240, 238, 238, 0.626);
}

.bottom form {
    display: flex;
    background-color: rgba(229, 233, 236, 0.952);

}

form input {
    width: 320px;
    height: 27px;
    border: 1px solid black;
    padding-left: 7px;
    outline: none;
    border-radius: 0px;

}

form button {
    width: 16%;
    background-color: rgb(27, 238, 146);
    font-size: medium;
    border: none;
    outline: none;
    border-radius: 0px;
}







.cont {
    color: black;
    font-size: x-large;
}

.connect {
    font-size: medium;
    padding: 9px 20px;
    color: rgb(20, 24, 21);
    background-color: green;
    font-weight: bold;
    cursor: pointer;
    border: none;
    position: relative;
    bottom: 50px;



}

.rightarrow {
    width: 90px;
    position: relative;
    left: 700px;
    bottom: 500px;
}

.fa-phone,.fa-envelope{
    color: #041d36;
    font-size: large;
}
.faqhead{
    position: relative;
left: 90px;
}
.faq-ques1{
    position: relative;
    top: 0px;
    left: 0px;
  width: 500px;

  

}
.faq{
    position: relative;
    top: 150px;
    left: 50px;
    
}
.question{
    background-color: #041d36;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.plusicon{
    width: 17px;
  }
.plusicon::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 17px;
    height:2px;
   
    
  
}
.plusicon::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 17px;
    height:2px;
    transform: rotate(90deg);
  
}


.ans{
    background-color: #041d36;
    padding: 0px 20px;
    color: white;
    font-size: 17px;
    margin: 1px 0px;
    height: 0px;
    opacity:0;
    position: relative;
  
}
.faq-ques1:target .ans{
    height: auto;
    opacity: 1;
    padding: 15px 20px;

}
.faq-ques1:target .plusicon::after{
    transform: rotateY(90deg);
 
}
.faq-ques2:target .ans{
    height: auto;
    opacity: 1;
    padding: px 20px;

}
.faq-ques2:target .plusicon::after{
    transform: rotateY(90deg);
 
}
.faq-ques3:target .ans{
    height: auto;
    opacity: 1;
    padding: 15px 20px;

}
.faq-ques3:target .plusicon::after{
    transform: rotateY(90deg);
 
}
.faq-ques4:target .ans{
    height: auto;
    opacity: 1;
    padding: 15px 20px;

}
.faq-ques4:target .plusicon::after{
    transform: rotateY(90deg);
 
}
.faq-ques5:target .ans{
    height: auto;
    opacity: 1;
    padding: 15px 20px;

}
.faq-ques5:target .plusicon::after{
    transform:rotateY('90deg')
 
}
