@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin:0px;
    padding:0px;
}
#container{
   background-image:url(../../assets/images/joinplayerbackground.jpg);
     height: 100vh;
    background-position: center;
    background-size: cover;
    
}
.sign{
    text-align: center;
    color: white;
   
}
.forms h1,form{
   display: flex;
   flex-direction: column;
   align-items: center;
  
   color: white;
 
   


}
.forms{
    position: relative;
    top: 20%;
    border: 2px solid rgb(180, 176, 176);
    width: 35%;
    left: 35%;
    border-radius: 2%;
    box-shadow: 0 10px 10px rgba(215, 211, 211, 0.230);
    height: 70%;
   
}
#name1{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    
}
#age{
    width: 50%;
    height: 35px;
    border-radius: 5px;
   border: 1px solid black;
    
}
.timings{
    width: 50%;
    height: 35px;
    
    font-size: 20px;
    text-align: center;
    border-radius: 5px;

   

}
.sportss{
    width: 50%;
    height: 35px;
    
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.profile{
    font-size: medium;
    padding: 9px 38px;
    color: rgb(20, 14, 14);
    font-weight: bold;
    cursor: pointer;
    border: none;
   margin-bottom: 5px;
   position: relative;
   top: 30px;
   left: 200px;
    box-shadow: 0 3px 10px rgb(3, 10, 87);
  
  }
.select{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.checkboxsentence{
    color: white;

}
.checkboxcolumn{
    display: flex;
    justify-content: center;
    
}
.labelname{
    font-size: 20px;
    font-weight: 500;
}