@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


.sidebar{
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 102vh;
    grid-gap: 30px;
   
}
.sidebar1{
    background-color: rgb(165, 172, 172);
    position: relative;
    left: 10px;
    border-radius: 20px;
  margin: 12px 10px;
  height: 120vh;
  /* position: static; */
}
.sidebar2{
    background-color: rgb(130, 197, 238);
    position: relative;
    height: 130vh;
    right: 5px;
    border-radius: 50px;
  margin: 30px 0px;
}
.profileimg{
    width: 130px;
    height: 130px;
    padding: 33px 30px;
    border-radius: 50px;
}
.nameperson{
        position: relative;
        right: 10px;
}
.name-rankdisplay{
    position: relative;
    left: 180px;
    bottom: 110px;
}
.rankdisplay{
    display: flex;
position: relative;
top: 30px;
}
.rank{
    position: relative;
    right: 10px;
}
#editbutton{
    width: 130px;
    height: 30px;
    position: relative;
    left: 80px;
    bottom: 30px;
    background-color: rgb(68, 223, 68);
    border: none;
  box-shadow: inset;
    
}
.hr{
    width: 300px;
    height: 1px;
    background-color: aliceblue;
    margin-left: 2px;
}
.dashboard,.message,.bookinghistory,.analytics{
    font-size: 20px;
  padding: 32px 20px;
}

.dashboard span,.message span,.bookinghistory span,.analytics span{
    position: relative;
    left: 20px;
}
.labelnamea{
    position: relative;
    left: 205px;
}
#age{
    position: relative;
    left:110px;

}
#age::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.logout{
    font-size: 15px;
    padding: 2px 2px;
    padding-right: 20px;
    position: relative;
    top: 43px;
    width: 110px;
    height: 30px;
    position: relative;
    left: 20px;
    
}
.logout span{
    position: relative;
    left: 20px;

}
.friendslist{
    font-size: 20px;
    padding: 20px 20px;
    position: relative;
    top: 20px;

}

.friendsrequest{
    font-size: 20px;
    padding: 20px 20px;
    position: relative;
    top: 20px;

}
.friendslist span,.friendsrequest span{
    position: relative;
    left: 20px;

}

.bxs-plus-circle{
    position: relative;
    right:48px;
    bottom: 35px;
cursor: pointer;
}

#input-file{
    display: none;
}


a{
    text-decoration: none;
    color: rgb(111, 67, 255);
}



















/* sidebar2 */


.container2 {

    position: relative;
    right: 120px;
    top: 43px;
    /* bottom: 70px; */
    height: 700px;
    overflow-y: scroll;


}




.container2::-webkit-scrollbar {
    width: 1em;

  }
   
  .container2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .container2::-webkit-scrollbar-thumb {
    /* background-color: rgb(255, 255, 255); */
    outline: 1px solid slategrey;
  }
  
form input {
    width: 320px;
    height: 27px;
    border: 1px solid black;
    padding-left: 7px;
    outline: none;
    border-radius: 0px;

}



.forms h1,form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

}

.forms {
    position: relative;
  top: 5px;
    border: 2px solid rgb(180, 176, 176);
    width: 450px;
    left: 35%;
    border-radius: 2%;
    box-shadow: 0 10px 10px rgba(215, 211, 211, 0.230);
    height: 1235px;


}

#name1 {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;

}

#age {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 220px;
    

}
#userEmail{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(187, 192, 192);
}
#phoneno1{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
#password{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}


.labelname ,.labelnametime,.labelnamea,.labelnames{
    font-size: 20px;
    font-weight: 500;
    position: relative;
}
.labelnametime{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-top: 5px;

}
.labelnamel{
    position: relative;
    top: 110px;
}

#sportss {
    width: 50%;
    height: 35px;
    position: relative;
    bottom: 20px;

    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.timings {
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;

}
#locationselect{
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
 top: 99px;

}
#startTime{
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
   top: 102px;



}
.labelnametime{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 90px;
}

#endTime{
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin-top: 93px;

}
/* button */

.profile2 {
    font-size: medium;
    padding: 9px 38px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
    position: relative;
    background-color: rgba(12, 175, 23, 0.783);
    box-shadow: 0 3px 10px rgb(3, 10, 87);

}
.pjointext{
    position: relative;
    bottom: 330px;
}
#checkjoinplayer1{
    font-size: 10px;
    position: relative;
    left: 48px;
    top: 60px;
}
.joinplayer label{
position: relative;
right: 80px;
top: 57px;
font-size: 20px;


}
.timep{
    position: relative;
    position: relative;
    top: 90px;
}
#sportsavail2,#sportsavail1,#sportsavail3{
    position: relative;
    right: 110px;
    top: 33px;


}
.sportname1,.sportname2,.sportname3{
    position: relative;
}
.labelnamea{
   margin-right: 400px;
}
.textabout{
    resize: none;
    width: 200px;
    height: 120px;
    position: relative;
}
.linetext{
    position: relative;

}
.nj-timepick {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 5000;
    transition: right 0.7s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
  }