@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin:0px;
    padding:0px;
    /* overflow: hidden; */
}
body{
    overflow-y: hidden;
}
header{
    background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
 
    height: 20vh;
    background-position: center;
    background-size: cover;
    
 
}
ul{
    display: flex;
    justify-content:end;
    margin-right: 20%;
    position: relative;
    top: 72px;
    
}
ul li{
    list-style-type: none;
    padding: 2%;
 
}
ul li a{
    text-decoration: none;
    font-size: larger;
    color: white;
    font-family: 'Noto Serif Khojki', serif;

}
ul li a:hover{
    color: rgb(130, 217, 235);
  
}

.login{
  font-size: medium;
  padding: 5px 15px;
  height: 113%;
  width: 102%;
  background-color: rgb(5, 34, 120);
  color: white;
  position: relative;
  bottom: 95px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  

}
.logo{
    width:14%;
    position: relative;
    bottom: 112px;
}
#main1{
    height: 5vh;
    /* border:20px solid transparent;
    border-image: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(0,212,255,1) 100%)60;
    
    */
    
    }
    .cont1{
        text-align: center;
        font-size: xx-large;
        font-weight:bolder;
        position: relative;
        bottom: 190px;
        color: white;
    }
   
    .cont2{
        background-color: rgb(2, 2, 45);
        border: 5px solid rgb(25, 11, 82);
        border-radius: 10%;
        width: 6%;
        height: 102px;
        box-shadow: 0 10px 10px rgba(14, 1, 1, 0.23);
        display: flex;
        flex-direction: column;
         align-items: center;
        margin-left: 90%;
       position: relative;
       bottom: 28px;
     
    
        
    }
    .userlogo{
        width: 35px;
        position: relative;
        
    }

  



.fa-user{
    font-size: xx-large;
    margin-top: 5px;
    color: white;
   
}  

.login2{
    font-size: 13px;
    padding: 2px 5px;
    background-color: rgb(5, 120, 47);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border: none;
    position: relative;
    top: 10px;
    border-radius: 3px;
  
    
  
  }
  .cricketicon{
    width: 30px;
  }
  .fa-star{
    color: rgb(255, 183, 0);
   font-size: 17px;
   position: relative;
   right: 10px;

}
  .main2{
    height: 87vh;
  
   
    
    }
    .bar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 92vh;
        grid-column-gap: 20px;
    }
    .sidebar1{ 
        background-color:rgba(255, 255, 255, 0.2);
        color: white;
        margin:10px 10px;
        border-radius: 9%; 
        height: 80vh; 

    }
    .sidebar2{
        background-color: rgba(255, 255, 255, 0.2);
        color: white;  
        margin:10px 10px;  
        border-radius: 0%; 
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .box1{
       
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
 
            border: 1px solid rgb(25, 11, 82);
            border-radius: 10%;
            width: 55%;
            height: 450px;
            box-shadow: 0 10px 10px rgba(14, 1, 1, 0.23);
            display: flex;
            flex-direction: column;
             align-items: center;
             margin-left: 2%;
          
           position: relative;
           top: 20px;
           
   
            
       
    }
    .playerinfo{
        color: black;
        width: 200px;
        background-color: rgb(208, 216, 216);
        padding: 10px 10px;
        position: relative;
    bottom: 50px;
    }
   .profilepic{
    width: 170px;
    position: relative;
    top:30px;
   }
      
  
       
    
    .profile{
        font-size: medium;
        padding: 9px 20px;
        color: rgb(20, 14, 14);
        font-weight: bold;
        cursor: pointer;
        border: none;
       margin-bottom: 5px;
       position: relative;
       top: 30px;
        box-shadow: 0 3px 10px rgb(3, 10, 87);
      
      }
    
    .container{
       background-color: rgba(15, 67, 209, 0.82);
        width: 390px;
        height: 70vh;
        display: flex;
        flex-direction: column;
       
        margin-bottom: 20%;
        border-radius: px;
        border: 1px solid black;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
    .top{
        color:rgb(0, 0, 0);
        padding: 2%;
    }
    .main{
        flex: 1;
        color: rgb(0, 0, 0);
        background-color: rgba(229, 233, 236, 0.952);
        padding: 20px 10px;

    }
    .messageto{
        background-color: rgb(248, 248, 248);
        color: black;
        width: 10%;
        padding: 7px 15px;
        margin-left: 13px;
        border-radius: 35%;
        box-shadow: 0 3px 10px rgba(240, 238, 238, 0.626);
    }
    .messagefrom{
        background-color: rgb(126, 126, 126);
        color: rgb(255, 255, 255);
        width:10%;
        padding: 7px 15px;
        margin-left: 78%;
        border-radius: 35%;
        box-shadow: 0 3px 10px rgba(240, 238, 238, 0.626);
    }
    .bottom form{
        display: flex;
        background-color: rgba(229, 233, 236, 0.952);
      
    }
      
    form input{
       width: 320px;
        height: 27px;
        border: 1px solid black;
        padding-left: 7px;
        outline: none;
        border-radius: 0px;
       
    }
    form button{
        width: 16%;
        background-color: rgb(27, 238, 146);
        font-size: medium;
        border: none;
        outline: none;
        border-radius: 0px;
    }
    .fa-table-tennis-paddle-ball{
        color: rgb(234, 234, 234);
    font-size:180%;
    }
    .noti{
        
    }
    .ratings{
        display: flex;
        position: relative;
        left: 38%;
        bottom: 7%;
    }
    .sports{
        position: relative;
        right: 30%;
     
    }
    .cont{
        color: black;
        font-size: x-large;
    }
    .connect{
        font-size: medium;
        padding: 9px 20px;
        color: rgb(20, 24, 21);
        background-color: green;
        font-weight: bold;
        cursor: pointer;
        border: none;
      position: relative;
      bottom: 50px;
      
        
      
      }
      #message{
    
      }
      .userlogo{
      
      }
      .rightarrow{
        width: 90px;
        position: relative;
        left: 700px;
        bottom: 500px;
      }
      /* dropdown */
      .staticsreport{
        color:black;
        position: relative;
        left: 17px;
      }
      .dropdownstatistics{
        position: relative;
        left: 150px;
      }
      .statisticsbtn{
        padding: 10px 20px;
        background-color: #07172c;
        color: white;
        cursor: pointer;
        border: none;
      }
      .dropdownlist{
      
        color: black;
        background-color: rgb(189, 195, 208);
        width: 210px;
        height: 170px;
        position: relative;
        right: 50px;
        display:none;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        border-radius: 5px;
      }
      .dropdownlist p:hover{
        background-color: rgb(240, 252, 255);
      }
      .dropdownstatistics:hover .dropdownlist{
        display: block;
      }