
* {
    margin: 0px;
    padding: 0px;

}

body {
    overflow-y: hidden;

}
/* header */
header {
    background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
    height: 15vh;
    background-position: center;
    background-size: cover;
    font-family: 'Noto Serif Khojki', serif;

}

ul {
    display: flex;
    justify-content: end;
    margin-right: 20%;
    position: relative;
    top:38px;
    left: 290px;

}

ul li {
    list-style-type: none;
    padding: 2%;
}

ul li a {
    text-decoration: none;
    font-size: larger;
    color: white;
}

ul li a:hover {
    color: rgb(130, 217, 235);

}


.logo {
    width: 14%;
    position: relative;
    bottom: 35px;
    left: 46px;
}



.cont1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    position: relative;
    bottom: 130px;
    color: white;
}

/* header */
/* maincontainer */
.maincontainer{
    height: 87vh;
}

/* bar */
.bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 92vh;
    grid-column-gap: 20px;
}

.sidebar1 {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 10px 10px;
    border-radius: 9%;
    height: 80vh;

}

.sidebar2 {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 10px 10px;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* sidebar1 */
.box1 {

    background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);

    border: 1px solid rgb(25, 11, 82);
    border-radius: 10%;
    width: 45%;
    height: 350px;
    box-shadow: 0 10px 10px rgba(14, 1, 1, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    position: relative;
    top: 90px;

}

.profilepic {
    width: 100px;
    position: relative;
    top: 30px;
}
.profile {
    font-size: medium;
    padding: 5px 10px;
    color: rgb(20, 14, 14);
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
    position: relative;
    top: 30px;
    box-shadow: 0 3px 10px rgb(3, 10, 87);

}

.sports {
    position: relative;
    right: 30%;

}
.cricketicon {
    width: 30px;
}
.ratings {
    display: flex;
    position: relative;
    left: 38%;
    bottom: 7%;
}

.fa-star {
    color: rgb(255, 183, 0);
    font-size: 17px;
    position: relative;
    right: 10px;

}
textarea {
    resize: none;
   
}
/* dropdown statistics */
.staticsreport {
    color: black;
    position: relative;
    left: 17px;
}

.dropdownstatistics {
    position: relative;
    left: 420px;
    bottom: 205px;
  
}

.statisticsbtn {
    padding: 10px 20px;
    background-color: #07172c;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5%;
 

}

.dropdownlist {

    color: black;
    background-color: rgb(189, 195, 208);
    width: 210px;
    height: 170px;
    position: absolute;
    right: 570px;
    display: none;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    border-radius: 5px;
   
}

.dropdownlist p:hover {
    background-color: rgb(240, 252, 255);
    width: 160px;
}

.dropdownstatistics:hover .dropdownlist {
    display: block;
}
/* dropdown statistics */

/* dropdown friends */
.friendslist {
    color: black;
    position: relative;
    left: 17px;
    display: flex;
    justify-content: space-evenly;
}
.friendsdropdown{
    position: relative;
    left: 590px;
    bottom: 257px;
   
}
.friendsbtn{
        padding: 10px 20px;
    background-color: #07172c;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5%;
}

.friendslistdropdown{

    color: black;
    background-color: rgb(189, 195, 208);
    width: 210px;
    height: 370px;
    position: relative;
    right: 50px;
    display: none;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    border-radius: 5px;
}
.friendslistdropdown p:hover {
    background-color: rgb(240, 252, 255);
    width: 190px;
}

.friendsdropdown:hover .friendslistdropdown{
    display: block;
}

/* dropdown friends */

/* sidebar1 */



/* sidebar2 */


.container {

    position: relative;
    right: 120px;
    bottom: 70px;


}

form input {
    width: 320px;
    height: 27px;
    border: 1px solid black;
    padding-left: 7px;
    outline: none;
    border-radius: 0px;

}



.forms h1,form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

}

.forms {
    position: relative;
    bottom: 20px;
    border: 2px solid rgb(180, 176, 176);
    width: 450px;
    left: 35%;
    border-radius: 2%;
    box-shadow: 0 10px 10px rgba(215, 211, 211, 0.230);
    height: 530px;

}

#name1 {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;

}

#age {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;

}
.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}


.labelname {
    font-size: 20px;
    font-weight: 500;
}
.sportss {
    width: 50%;
    height: 35px;

    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.timings {
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;

}

/* button */

.profile2 {
    font-size: medium;
    padding: 9px 38px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
    position: relative;
    background-color: rgba(12, 175, 23, 0.783);
    top: 30px;
    left: 163px;
    box-shadow: 0 3px 10px rgb(3, 10, 87);

}
/* button */
/* sidebar2 */


.iconplay {
    width: 70px;
    position: relative;
    bottom: 300px;
}
