* {
    margin: 0px;
    padding: 0px;
   
}

body{


    overflow-y: hidden;
  
}
/* form container */
#container {
    background-image: url(../../assets/images/light.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
  
}

.forms h1,form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 8%;
    margin-top: 2%;
}

.forms {
  
    position: relative;
    top: 10%;
    border: 2px solid rgb(180, 176, 176);
    width: 30%;
    margin-left: 500px;
  
    /* left: 35%; */
    border-radius: 2%;
    box-shadow: 0 10px 10px rgba(215, 211, 211, 0.230);
    height: 85%;
    background-color: rgba(0, 0, 0, 0.3);
}
.boxform{
    display: flex;
    padding: 2px;
}
.boxform i{
    position: relative;
    right: 42px;
    top:10px;
    padding: 2px 2px;
    visibility: hidden;
}
.boxform.success i.fa-circle-check{
    color: green;
    visibility: visible;
}
.boxform.error i.fa-circle-exclamation{
    color: red;
    visibility: visible;
}
/* form container */


/* forms signin */
h1.signuphead {
    color: white;
    position: relative;
    left: 20%;

}

#name1,#name2 {
    width: 80%;
    height: 45px;
    border-radius: 5px;
    /* border: none;
    outline-color: gray; */
}
#email {
    width: 80%;
    height: 45px;
    border-radius: 5px;
    /* border: none;
    outline-color: gray; */
}


#user_phoneno{
    width: 80%;
    height: 45px;
    border-radius: 5px;
  
    /* border: none;
    outline-color: gray; */
}
#user_phoneno::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#password {
    width: 80%;
    height: 45px;
    border-radius: 5px;
    /* border: none;
    outline-color: gray; */

}

input[type="name"]::placeholder {
    padding-left: 5%;


}

input[type="password"]::placeholder {
    padding-left: 5%;

}

input[type="email"]::placeholder {
    padding-left: 5%;


}

input[type="text"]::placeholder {
    padding-left: 5%;

}
/* register button */

#newlogin {
    padding: 0px 50px;
    width: 13%;
    height: 45px;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(7, 86, 46);
    color: white;
    position: relative;
    left: 43%;
    bottom: 102px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 10px rgb(35, 34, 34);


}
#newlogin:hover{
    background-color: rgba(15, 190, 15, 0.763);

}
/* register button */

.alert {
    color: white;
    position: relative;
    left: 2%;
}
/* label color */

label {
    color: white;

}
/* .boxform.success input {
    border-color: rgb(30, 248, 30);
}
.boxform.error input{
    border-color: rgb(188, 41, 0);
} */
/* input:valid,
select:valid{
    border: 2px solid green;
}
input:invalid,
select:invalid{
    border: 2px solid red;
} */
.joinplayer{
    font-size: larger;
  position: relative;
  left: 150px;
  outline: none;
   
}
#checkjoinplayer{
    position: relative;
    right: 20px;
    outline: 0px solid rgb(255, 255, 255);
}
.sportsavailable{
    display: flex;

}
#sportsavail1,#sportsavail2,#sportsavail3{
    outline: none;
  position: relative;
bottom: 17px;
left: 27px;
font-size: larger;

    
}
.sportname{
    position: relative;
    left: 0px;
}





input:invalid{
    /* background-color:  green; */
    /* border-color: rgb(13, 255, 13); */
    background-color: rgb(255, 255, 255);
    border: none;
    outline: 2px solid rgb(255, 44, 44);
    border-radius: 5px;
    animation: shake 0.2s 2;
}
 @keyframes shake {
    25%{
        translate: 6px 0;
    }
    50%{
        translate: -6px 0;
    }
    75%{
        translate: 6px 0;
    }
 }
input:valid,select:valid{
    /* border-color: rgb(128, 0, 0); */
    background-color: rgb(255, 255, 255);
    border: none;
    outline: 2px solid rgb(17, 255, 0);
    border-radius: 5px;
  
}
/* label color */





/* join player */



.labelname {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fbfbfb;


}

#name {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
position: relative;
left: 95px;

}

#age {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
left: 95px;

}

#age::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#sportss {
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
#gender{
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}



.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#timingsfrom,#timingsto{
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;



}
#locationselect{
    width: 50%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;

}


.checkboxsentence {
    color: white;

}

.checkboxcolumn {
    display: flex;
    justify-content: center;

}



input[type="name"]::placeholder {
    padding-left: 5%;
}

input[type="number"]::placeholder {
    padding-left: 5%;
}
/* forms content */

/* button */
.profile {
    font-size: medium;
    padding: 9px 38px;
    color: rgb(20, 14, 14);
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
    position: relative;
    top: 30px;
    left: 200px;
    box-shadow: 0 3px 10px rgb(3, 10, 87);
    background-color: rgb(16, 161, 16);
    border-radius: 10px;
}
.profile:hover{
    background-color: rgb(18, 230, 18);

}


.joinplayercontainer{


    position: relative;
    bottom: 630px;
    border: 2px solid rgb(180, 176, 176);
    width: 25%;
    /* left: 72%; */
    border-radius: 2%;
    box-shadow: 0 10px 10px rgba(215, 211, 211, 0.230);
    height: 715px;
    background-color: rgba(0, 0, 0, 0.3);
    display:none ;

}


/* forms signin */
@media screen and (max-width:450px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    body{
        overflow-y: hidden;
    }
    /* form container */
    #container {
        background-image: url(../../assets/images/light.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
    
    .forms h1,form {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 8%;
        margin-top: 2%;
    }
    
    .forms {
        position: relative;
        top: 13%;
        border: 2px solid rgb(180, 176, 176);
        width: 80%;
        left: 10%;
        border-radius: 2%;
        box-shadow: 0 10px 10px rgba(215, 211, 211, 0.230);
        height: 78%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    /* form container */
    
    
    /* forms signin */
    h1.signuphead {
        color: white;
        position: relative;
        left: 6%;
    
    }
    
    #name1 {
        width: 80%;
        height: 45px;
        border-radius: 5px;
        border: none;
    
    }
    #email {
        width: 80%;
        height: 45px;
        border-radius: 5px;
        border: none;
    
    }
    
    
    #phoneno1 {
        width: 80%;
        height: 45px;
        border-radius: 5px;
        border: none;
    }
    
    #password {
        width: 80%;
        height: 45px;
        border-radius: 5px;
        border: none;
    
    }
    
    input[type="name"]::placeholder {
        padding-left: 5%;
    
    
    }
    
    input[type="password"]::placeholder {
        padding-left: 5%;
    
    }
    
    input[type="email"]::placeholder {
        padding-left: 5%;
    
    
    }
    
    input[type="text"]::placeholder {
        padding-left: 5%;
    
    }
    /* register button */
    
    #newlogin {
        padding: 0px 50px;
        height: 45px;
        font-size: large;
        font-weight: bolder;
        cursor: pointer;
        background-color: rgb(7, 86, 46);
        color: white;
        position: relative;
        left: 18%;
        border-radius: 10px;
        border: none;
        box-shadow: 0 3px 10px rgb(35, 34, 34);
    
    
    }
    #newlogin:hover{
        background-color: rgba(15, 190, 15, 0.763);
    
    }
    /* register button */
    
    .alert {
        color: white;
        position: relative;
        left: 2%;
        font-size: 12px;
    }
    /* label color */
    
    label {
        color: white;
    
    }
    /* label color */
    
    
    /* forms signin */
   
}
@media all and (min-width:750px) and (max-width:1024px) {
    #newlogin {
        padding: 0px 50px;
        height: 45px;
        font-size: large;
        font-weight: bolder;
        cursor: pointer;
        background-color: rgb(7, 86, 46);
        color: white;
        position: relative;
        left: 25%;
        border-radius: 10px;
        border: none;
        box-shadow: 0 3px 10px rgb(35, 34, 34);
    
    
    }
    .forms {
        position: relative;
        top: 13%;
        border: 2px solid rgb(180, 176, 176);
        width: 80%;
        left: 10%;
        border-radius: 2%;
        box-shadow: 0 10px 10px rgba(215, 211, 211, 0.230);
        height: 78%;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

     