@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0px;
    padding:0px;
    font-family: 'Noto Serif Khojki', serif;

}
/* header */
header{
    background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%);
    height: 10vh;
    background-position: center;
    background-size: cover;
   position: sticky;
   top:0%;
   z-index: 2;
}

ul{
    display: flex;
    justify-content:end;
    margin-right: 2%;
}
ul li{
    list-style-type: none;
    padding: 2%;
 
}
ul li a{
    text-decoration: none;
    font-size: larger;
    color: white;
}
ul li a:hover{
    color: rgb(130, 217, 235);
  
}

.login{
  font-size: medium;
  padding: 1px 20px;
  height: 100%;
  width: 105%;
  background-color: rgb(5, 34, 120);
  color: white;
  position: relative;
  bottom: 5%;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  

}
.logo{
    width:14%;
    position: relative;
    bottom: 80px;
}
/* header */

/* main1 */

#main1{
    height: 86vh;
       /* background: linear-gradient(90deg, rgb(44, 209, 242) 4%, rgb(81, 208, 234) 100%); */
 display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, #13c0ec, #36a7dc, #2c8cec, #2e8de7, #5026e7);
  
/* background-color: #bec7d8eb; */
  
    
}
.word1{
    font-size: 350%;
    color: rgb(8, 8, 8); 
    margin-left: 3.5%;
animation: change 5s;

}    
@keyframes change{
    from{
        color: black;
    }
    to{
        color: white;
    }
}

.player1{
    width:45%;
    border-radius: 10%;
    margin-right: 3%;
}
/* main1 */
/* main2 */
#main2{
    height: 70vh;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 190px; */
    /* border:50px solid transparent;
    border-image: linear-gradient(90deg, rgb(226, 233, 234) 4rgb(219, 221, 222)16);
      */
      background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%);
 
}
.mainchild{
    margin: 0px 43px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 160px;
}
.box1{
    width: 100%;
    height: 130%;
    margin-top: 3%;   
    border-radius: 2%;
    /* background: linear-gradient(90deg, rgb(102, 223, 247) 4%, rgb(102, 223, 247) 100%);
    box-shadow: 0 10px 10px rgba(13, 7, 7, 0.57); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 color: white;
 background-image: linear-gradient(to right top, #dce5e7, #36a7dc, #2c8cec, #2e8de7, #5026e7);
 
    
} 

.boxcontent1{
    color:rgb(7, 7, 7);
    font-size:130%;
    font-weight: bold;
    position: relative;
  
    left: 3%;
 

 
}
.boxcontent2{
    color:rgb(7, 7, 7);
    font-size:130%;
    position: relative;
    top: 3%;
    font-weight: bold;
    padding: 0px 10px;
 
}
.boxcontent3{
    color:rgb(7, 7, 7);
    font-size:130%;
    position: relative;
    top:1%;
    font-weight: bold;
    padding: 0px 10px;
 
}


.groundicon{
        color: white;
        width: 42%;
        position: relative;
        bottom:10%;
        
        }
      
 .heading0{
            font-size: 190%;
            font-weight:bolder;
            position: relative;
            bottom: 10%;
            color:rgb(7, 7, 7);
        }    
.heading1{
    font-size: 190%;
    font-weight:bolder;
    position: relative;
    bottom: 25%;
    color:rgb(7, 7, 7);
}
.heading2{
    font-size: 190%;
    font-weight:bolder;
    position: relative;
    bottom: 22%;
    color:rgb(7, 7, 7);
}
.fa-volleyball,.fa-basketball,.fa-table-tennis-paddle-ball,.material-symbols-outlined{
    color: rgb(12, 9, 9);
font-size:200%;
}
.fa-user{
    color: rgb(11, 9, 9);
    font-size:500%;
    position: relative;
    bottom: 12%;
    
    }
    
.fa-people-roof{
color: rgb(11, 9, 9);
font-size:500%;
position: relative;
bottom: 12%;

}
/* main2 */
/* main3 */
.main3{
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    /* border:50px solid transparent;
    border-image: linear-gradient(90deg, rgb(226, 233, 234) 4rgb(219, 221, 222)16);
     */
     background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%);
   
}
.sportsheading{
    font-size:30px;
    text-align: center;
    position: relative;
    left: 410px;
    color: white;
}
/* animation */
.roationimage{
    width:320px;
    height:200px;
    position: absolute;
    border-radius: 5%;
}
.rotationcont{
    width:390px;
    height: 300px;
    /* position: relative; */
    margin-right:470px ;
    margin-top: 90px;
    perspective: 1050px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg)rotateZ(-7deg);
}
.imagerot{
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}
@keyframes rotate{
    from{

    }
    to{
        transform: rotateY(360deg);
    }
}

.roationimage:nth-child(1){
    transform: rotateY(60deg) translateZ(350px);
}
.roationimage:nth-child(2){
    transform: rotateY(120deg) translateZ(350px);
}
.roationimage:nth-child(3){
    transform: rotateY(180deg) translateZ(350px);
}
.roationimage:nth-child(4){
    transform: rotateY(240deg) translateZ(350px);
}
.roationimage:nth-child(5){
    transform: rotateY(300deg) translateZ(350px);
}
.roationimage:nth-child(6){
    transform: rotateY(360deg) translateZ(350px);
}
/* animation */
/* review */
#review{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    /* border:50px solid transparent;
    border-image: linear-gradient(90deg, rgb(226, 233, 234) 4rgb(219, 221, 222)16);
     */
     background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%);
   
   
   
}
.person1{
    width: 23%;
    height: 80%;
    margin-top: 3%;   
    border-radius: 2%;
    /* background: linear-gradient(90deg, rgb(123, 208, 244) 4%, rgb(98, 207, 237) 100%); */
    box-shadow: 0 10px 10px rgba(15, 12, 12, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px 15px;
    background-image: linear-gradient(to right top, #13c0ec, #36a7dc, #2c8cec, #2e8de7, #5026e7);
  
}

.person{
    border-radius: 50%;
    height: 42px;
    width: 42px;
    scale: 1.9;

}
/* .sportlist{
    width: 320px;
    height: 200px;
    scale: 1;
    position: relative;
    top: 35px;
} */

.star{
    display: flex;
    justify-content: space-evenly;
}
.fa-star{
    color: goldenrod;
}
.fa-star-half-stroke{
    color: goldenrod;
}
/* review */
/* footer */
footer{
    height: 30vh;
  
    /* border:50px solid transparent;
    border-image: linear-gradient(90deg, rgb(226, 233, 234) 4rgb(219, 221, 222)16) ;
     */
    background-position: center;
    background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%);
   
    background-size: cover;
    color: white;
    
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.footh{
    color: rgb(219, 213, 213);
    font-size: larger;
    font-weight: bold;
   
}
.column1{
    margin-top: 2%;
}
 p{
    list-style-type: none;
    
 
}
 p a{
    text-decoration: none;
    font-size:medium;
    color: rgb(219, 213, 213);
    line-height: 1.6;
}
.fa-brands{
    font-size:x-large;
    padding: 1.5%;
}
.fa-facebook{
    color: #3b5998  ;
}
.fa-twitter{
    color: #00acee;

}
.fa-instagram{

}
.fa-linkedin{
 color: #0A66C2;

}
a{
    text-decoration: none;
}
/* footer */

/* .game1{
    width: 23%;
    height: 60%;
    margin-top: 3%;   
    border-radius: 2%;
    background: linear-gradient(90deg, rgb(58, 163, 192) 4%, rgb(240, 232, 232) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    position: relative;
    right: 160px;
    top:39px;



} */


