* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif Khojki', serif;

}

/* header */
header {
    height: 10vh;
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0%;
    z-index: 2;
    background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);

}

ul {
    display: flex;
    justify-content: end;
    margin-right: 2%;
    position: relative;
    bottom: 5px;
}

ul li {
    list-style-type: none;
    padding: 2%;

}

ul li a {
    text-decoration: none;
    font-size: larger;
    color: white;
}

ul li a:hover {
    color: rgb(130, 217, 235);

}

.login {
    font-size: medium;
    padding: 2px 17px;
    height: 102%;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(10, 9, 46);
    letter-spacing: 1px;

}
.login:hover{
    background-color: #61bdff;
}

.logo {
    width: 14%;
    position: relative;
    bottom: 80px;
    left: 46px;
}

/* header */

/* main1 About webpage */

#main1 {
    height: 86vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, #e1edf0, #d5e5ec, #2c8cec, #d0dae3, #5026e7);




}

.word1 {
    font-size: 350%;
    color: rgb(8, 8, 8);
    margin-left: 3.5%;
    animation: change 7s infinite;

}

@keyframes change {
    from {
        color: black;
    }

    to {
        color: white;
    }
}

.player1 {
    width: 45%;
    border-radius: 10%;
    margin-right: 3%;
}

/* main1 About webpage*/

/* main2 what we do */
#main2 {
    height: 70vh;
    background-color: white;
}

.mainchild {
    margin: 0px 43px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 160px;
    padding-top: 50px;

}

.box {
    width: 102%;
    height: 130%;
    margin-top: 3%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);


}

.cricketicon {
    width: 35px;
}

.box-content{
    color: rgb(243, 234, 234);
    font-size: 130%;
    position: relative;
    left: 3%;
    line-height: 2;
    word-spacing: 1px;


}



.groundicon {
    color: rgb(0, 0, 0);
    width: 42%;
    position: relative;
    bottom: 10%;

}

.usericon {
    color: rgb(0, 0, 0);
    width: 32%;
    position: relative;
    bottom: 14%;

}

.box-heading1 {
    font-size: 190%;
    font-weight: 500;
    position: relative;
    bottom: 13%;
    color: rgb(255, 255, 255);
}

.box-heading2 {
    font-size: 190%;
    font-weight: 500;
    position: relative;
    bottom: 21%;
    color: rgb(255, 255, 255);
}

.box-heading3 {
    font-size: 190%;
    font-weight: 500;
    position: relative;
    bottom: 21%;
    color: rgb(255, 255, 255);
}


/* main2 */

/* main3 */
.main3 {
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    z-index: -2;
}

.sportsheading {
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 410px;
    color: rgb(0, 0, 0);
}

/* animation */
.roationimage {
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
}

.rotation-content {
    width: 220px;
    height: 300px;
    margin-right: 470px;
    margin-top: 90px;
    perspective: 1050px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg)rotateZ(-7deg);
}

.image-rotation{
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {

    to {
        transform: rotateY(360deg);
    }
}

.roationimage:nth-child(1) {
    transform: rotateY(60deg) translateZ(350px);
}

.roationimage:nth-child(2) {
    transform: rotateY(120deg) translateZ(350px);
}

.roationimage:nth-child(3) {
    transform: rotateY(180deg) translateZ(350px);
}

.roationimage:nth-child(4) {
    transform: rotateY(240deg) translateZ(350px);
}

.roationimage:nth-child(5) {
    transform: rotateY(300deg) translateZ(350px);
}

.roationimage:nth-child(6) {
    transform: rotateY(360deg) translateZ(350px);
}

/* animation */

/* review section */
#review {
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;

}

.person {
    width: 23%;
    height: 80%;
    margin-top: 3%;
    border-radius: 2%;
    box-shadow: 0 10px 10px rgba(15, 12, 12, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    background-image: linear-gradient(to right top, #e1edf0, #d5e5ec, #2c8cec, #d0dae3, #5026e7);

}

.personimg {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    scale: 1.9;

}


.star {
    display: flex;
    justify-content: space-evenly;
}

.fa-star {
    color: rgb(255, 183, 0);
}

.fa-star-half-stroke {
    color: rgb(255, 183, 0);
}

/* review sectioin*/

/* footer section */
footer {
    height: 30vh;
    background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%);

    background-size: cover;
    color: white;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.foot-heading {
    color: rgb(219, 213, 213);
    font-size: larger;
    font-weight: bold;

}

.column1 {
    margin-top: 2%;
}

p {
    list-style-type: none;
}

p a {
    text-decoration: none;
    font-size: medium;
    color: rgb(219, 213, 213);
    line-height: 1.6;
}

.fa-brands {
    font-size: x-large;
    padding: 1.5%;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00acee;

}
.fa-instagram{
    color: rgb(167, 8, 95);
}

.fa-linkedin {
    color: #0A66C2;

}

a {
    text-decoration: none;
}

/* footer section */